*,
*::before,
*::after {
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
	min-height: 100dvh;
}

body {
	font-family: Inter, Arial, Helvetica, sans-serif;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	text-decoration-skip-ink: none;
	line-height: 1;
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	user-select: none;
}